$linkedinBlue: #0072b1;
$linkedinBlue2: #004f79;

.linkedinLogo{
    width: 80px;
}

.login-wrapper{
    background-color: white;
    height: 100vh;
    .heading{
        font-family: system-ui;
        font-weight: 400;
    }

    .sub-heading{
        font-family: system-ui;
        margin-top: -20px;
    }
}

.login-wrapper-inner{
    margin-left: 180px;
    width: 300px;
}

.auth-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    .common-input{
        height: 30px;
        padding: 10px;
        background-color: white;
        outline: none;
        border: 1px solid #212121;
        border-radius: 3px;
        color: #212121;
        font-family: system-ui;
    }
    .common-input:focus{
        outline: 1px solid $linkedinBlue;
    }
    ::placeholder{
        font-family: system-ui;
        font-size: 16px;
    }
}

.login-btn{
    width : 300px;
    height: 50px;
    cursor: pointer;
    background-color: $linkedinBlue;
    margin-top: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
}

.login-btn:hover{
    background-color: $linkedinBlue2;
}
  
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
  }

.google-btn-container{
    margin-left: 180px;
    text-align: center;
    width: 300px;
}

.google-btn{
    width: 300px !important;
}

.join-now{
    color: $linkedinBlue;
    font-family: system-ui;
    cursor: pointer;
}