.posts-card{
    margin-top: 40px;
    width: 60%;
    min-height: auto;
    padding-bottom: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    background-color: #FFFEFE;   
    padding-left: 2%;
    position: relative;
}

.status{
    text-align: left;
    font-family: system-ui;
    font-size: 17px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    margin-top: 12px;
}

.profile-head-info{
    display: flex;
    gap: 10px;
    margin-left: -10px;
    margin-top: 10px;
    cursor: pointer;
}

.mini-profile{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #767676;
}

.name{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}

.post-user-headline{
    font-size: 14px;
    margin-top: 5px;
    color: #767676;
}

.card-icons-div{
    position: absolute;
    right: 30px;
    top: 20px;
    gap: 10px;
    display: flex;
}

.post-icons{
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
    color: #767676;
}

.post-icons:hover{
    background-color: #e8e8e8;
    border-radius: 50%;
    padding: 10px;
    color: black;
}

.timestamp{
    font-family: system-ui;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
    margin-top: 10px;
}