.topbar-main{
    width: 100%;
    height: 70px;
    background-color: #FFFEFE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkedin-logo{
    margin-left: 20%;
    width: 50px;
}

.react-icons{
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 55%;
}

.react-icon{
    cursor: pointer;
    color: #545353;
}

.react-icon:hover{
    color: black;
}

.user-logo{
    width: 35px;
    height: 35px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 10%;
    position: relative;
    cursor: pointer;
}