$linkedinBlue: #0072b1;
$linkedinBlue2: #004f79;

.text{
    border: none;
    background-color: white;
    outline: none;
    color: black;
    font-family: system-ui;
    width: 95%;
    height: 100px;
    text-align: left;
    font-size: 16px;
    resize: none;
}

.modal-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-profile-head{
    display: flex;
    align-items: center;
}

.modal-profile-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #767676;
}

.profile-info{
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-name{
    margin-bottom: 0;
}

.head-line{
    margin: 0px;
}

.profile-view{
    cursor: pointer;
    color: $linkedinBlue;
    font-weight: 600;
    font-size: 19px;
    font-family: system-ui;
    border: 1px solid $linkedinBlue;
    width: 180px;
    height: 35px;
    text-align: center;
    border-radius: 17.5px;
    transition: 0.3s;
}

.profile-view:hover{
    color: $linkedinBlue2;
    background-color: #bbd1dd;
}

.logout-btn{
    background-color: white ;
    box-shadow: none;
    color: rgba(0,0,0,0.9);
    font-family: system-ui;
    font-weight: 400;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.logout-btn:hover{
    text-decoration: underline;
}

.picture-icon{
    color: $linkedinBlue;   
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.post-image{
    height: 100%;
    width: 100%;
}