$linkedinBlue: #0072b1;
$linkedinBlue2: #004f79;

.profile-head{
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    background-color: #FFFEFE;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
    border: 1px solid #FFFEFE;
    border-radius: 7px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info-right p{
    font-family: system-ui;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgba(0,0,0,0.9);
    font-weight: 600;
}

.profile-image{
    width: 150px;
    height: 150px;
    border: 2px solid #767676;
    padding: 5px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -35px;
    position: relative;
    cursor: pointer;
}

.edit-profile{
    right: 20px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.edit-profile-btn{
    right: 20px;
    position: absolute;
    height: 25px;
    width: 25px;
    cursor: pointer;
    padding: 5px;
}

.edit-profile-btn:hover{
    background-color: #cecece;
    border-radius: 50%;
    padding: 5px;
}

.info-right{
    margin-top: 50px;
}

.name{
    font-family: system-ui;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    font-size: 24px;
    margin-bottom: -10px;
}


.headline{
    color: rgba(0,0,0,0.9);
    margin-top: 15px;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 400;
}

.website{
    color: $linkedinBlue;
    text-decoration: none;
    font-size: 14px;
}

.location{
    color: rgba(109, 109, 109, 0.9);
    margin-top: 4px;
    font-family: system-ui;
    font-size: 14px;
    font-weight: 400;
}

p{
    margin: 0;
    padding: 0;
}

.about-me-heading{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about-me{
    margin-bottom: 15px;
}

.profile-posts{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    position: relative;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}