$linkedinBlue: #0072b1;

.like{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    padding: 5px 0px;
    cursor: pointer;
}

.poeple-likes{
    display: flex;
    align-items: center;
    gap: 4px;
}

.likes{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.like-btn{
    color: $linkedinBlue;
}

.like-blue{
    color: $linkedinBlue;
}

.like-text{
    font-family: system-ui;
    font-size: 14px;
    color: #6c6c6c;
}

.like-count{
    font-family: system-ui;
    font-weight: 600;
    font-size: 14px;
    color: #6c6c6c;
}

hr{
    width: 100%;
    position: absolute;
    left: 0;
    border-top: 1px solid #cbcaca;
}