.post-status-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2F3EF;
}

.post-status{
    margin-top: 40px;
    width: 80%;
    height: 100px;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    background-color: #FFFEFE;   
}

.create-post{
    width: 85%;
    text-align: left;
    height: 40px;
    color: rgba(0,0,0,0.89);
    font-size: 15px;
    background-color: #FFFEFE;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
    font-family: system-ui;
    font-weight: 600;
    cursor: pointer;
    padding-left: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.create-post:hover{
    background-color: #dbdbdb;
}
