$linkedinBlue: #0072b1;
$linkedinBlue2: #004f79;

.profile-edit{
    padding-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    background-color: #FFFEFE;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.edit-profile{
    width: 100px;
    height: 30px;
    right: 20px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    background-color: $linkedinBlue;
    margin-top: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
}

.edit-profile:hover{
    background-color: $linkedinBlue2;
}

.edit-data{
    height: 30px;
    padding: 10px;
    margin-top: 35px;
    background-color: white;
    outline: none;
    border: 1px solid #212121;
    border-radius: 3px;
    color: #212121;
    font-family: system-ui;
}
.edit-data:focus{
    outline: 1px solid $linkedinBlue;
}
::placeholder{
    font-family: system-ui;
    font-size: 16px;
}

.save-btn{
    width : 150px;
    height: 50px;
    cursor: pointer;
    background-color: $linkedinBlue;
    margin-top: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
}

.save-btn:hover{
    background-color: $linkedinBlue2;
}